---
import Layout from '../layouts/MainLayout.astro'
import RecentPost from '../components/RecentPost.astro'
import HomeHero from '../components/HomeHero.astro'
import HomeIntro from '../components/HomeIntro.astro'
---

<Layout title="Home | SelfHostLab" description="See what we have been up to">
	<main>
		<HomeHero />
		<HomeIntro />
		<RecentPost />
	</main>
</Layout>
