<!-- Intro Section -->
<section class="py-16">
	<div class="container mx-auto">
		<div class="text-center">
			<h2 class="mb-4 text-2xl font-bold">About My Blog</h2>
			<p class="mb-8 text-lg">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ullamcorper quam vel
				metus vulputate, sed ultrices lorem ultricies. Proin bibendum libero non metus hendrerit, et
				gravida dolor tristique.
			</p>
			<a
				href="#"
				class="bg-deep-blue inline-block rounded-full px-6 py-2 font-bold text-white hover:bg-blue-700"
				>Subscribe</a
			>
		</div>
	</div>
</section>
