---
import { capitalize } from '../utils'
import type { Blog } from '../lib/types'
import { client } from '../lib/tursoDb'

let posts: Blog[] = []
try {
	const allPostsResponse = await client.execute(
		'select posts.title, posts.description, posts.slug, posts.hero, authors.first_name, authors.last_name, authors.slug as author_slug, authors.avatar, posts.content, posts.created_at from posts left join authors on authors.id = posts.author_id order by posts.created_at desc;'
	)
	const allPosts = allPostsResponse.rows
	posts = allPosts.map((post: any): Blog => {
		return {
			published: false,
			title: post.title,
			description: post.description,
			slug: post.slug,
			hero: post.hero,
			tags: post.tags,
			created_at: post.created_at,
			author: {
				first_name: post.first_name,
				last_name: post.last_name,
				slug: post.slug,
				avatar: post.avatar
			}
		}
	})
} catch (error) {
	// TODO: Handle error and notify user
}

const { tags } = Astro.props

interface Props {
	tags: string[]
}
---

<div class="flex flex-wrap gap-2">
	{
		posts.map((post) => (
			<>
				<span class="mr-2 rounded-full border px-2 py-1 text-xs text-white">{post.tags}</span>
				<a href={`/post/tags/${post.tags}/`}>#{capitalize(post.tags)}</a>
			</>
		))
	}

	}
</div>
